<h1>Chat with Carsten-bot</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
  <%= f.text_field :content, :autofocus => true %>
  <%= f.submit "Send" %>
<% end %>
