<h1>What the hell is this?</h1>

<p>
This is a desperate attempt to get my time under control from all the questions
I'm getting. I get loads of great questions every day that I love to answer
because I do love helping people out, however it sucks up a lot of my time and
means that I sometimes don't get all of my own commitments done.
</p>

<p>
So, in order to try and improve the situation, I've instituted daily office
hours and written this little app to let people queue up on a first-come,
first-serve basis. You simply take a ticket and when the time comes, I'll pull
up your ticket number and will call you, except for serving you delicious deli
meat, I serve you (hopefully equally as delicious! ;] ) answers to your questions!
</p>

<% if user_signed_in? %>
<p>
In the meantime, if you absolutely cannot wait to talk to me, try talking to my
<a href="/messages">chatbot</a> instead (courtesy of J3 I have been
<a href="https://github.va.opower.it/jillian-cairns/carsten-bot/blob/master/carsten.rb">
replaced by a very small script</a> ;] ).
</p>
<% end %>

<p>
Enjoy!
</p>
